body{
	color:#fff;
	font-family:;
	
	}
	
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.logo {
    display: inline-block;
    width:100%;
	margin:40px auto;
	text-align:center;
	}
.img{width:auto;}
.overimg{
	background-image:url(../images/photo.jpg);
	backround-size:cover;
	}
.tagline h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
	text-align:center;
	margin-top:54px;
}
.paragraph {
    font-size:24px;
    line-height:1.5;
    color:#fff;
    font-weight:100;
    width:70%;
    margin:auto;
	text-align:center;
}
.subscribe{
	  background-color:rgba(255,255,255,0.05);
	  border:0px;
	  border-radius:0px;
      border-bottom:2px solid #ccc!important;
      height:45px;
      width: 50%;
      color: #fff !important;
      font-size: 20px!important;
      height: auto;
	  margin:45px auto;
      padding:10px 15px;
      font-weight: 100;
      position: relative;
	}
 .subscribe:focus{
	  background-color:rgba(255,255,255,0.05);
	  border:0px;
	  border-radius:0px;
      border-bottom:2px solid #ccc!important;
      height:45px;
      width: 50%;
      color: #fff !important;
      font-size: 20px!important;
      height: auto;
	  margin:45px auto;
      padding:10px 15px;
      font-weight: 100;
      position: relative;
	  box-shadow:none!important;
	}

.social .fa{
	font-size:24px;
	color:#fff;
	margin:30px 40px 30px 0px ;
	}
ul{ 
    list-style-type:none;
	padding-left:0px!important;
}
li{
	display:inline;
  }
.footer{
	margin:0px 0px 30px 0px ;
	text-align:center;
    color: rgba(255,255,255,0.6);
    margin-left:-27px;
}
.footer .fa:last-child{
	margin-right:0px;
	}
	.searchbar{	
    background-image:url(../images/email.png);
    background-repeat:no-repeat;
    background-size: 33px;
    background-position: right;
    /*cursor: pointer;*/
  }
  canvas {
  display: block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position:absolute;
  width: 100%;
  height: 100%;
  background: none;
 /* background-image: url("");*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.heart {
	font-size: 152px;
	text-align: center;
	color: rgba(152, 237, 77, 1);
	padding: 0;
	margin: 0;
}

.pulse1 {
	-webkit-animation: pulse1 2s linear infinite;
	-moz-animation: pulse1 2s linear infinite;
	-ms-animation: pulse1 2s linear infinite;
	animation: pulse1 2s linear infinite;
}

@keyframes "pulse1" {
 0% {
    color: rgba(152, 237, 77, 1);
 }
 90% {
    color: rgba(255,0,0,0.0);
 }
 100% {
    color: rgba(152, 237, 77,1.0);
 }

}

@-moz-keyframes pulse1 {
 0% {
   color:#ff4d4d;
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(152, 237, 77,1.0);
 }

}

@-webkit-keyframes "pulse1" {
 0% {
   color: rgba(152, 237, 77, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(152, 237, 77,1.0);
 }

}

@-ms-keyframes "pulse1" {
 0% {
   color: rgba(152, 237, 77, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(152, 237, 77,1.0);
 }

}

@media (max-width:480px){
	.img{width:80%;
	margin:50px auto;}
	
	.tagline h1 {
    color: #fff;
    font-size: 42px;
    font-weight:600;
    margin-bottom:30px;
    text-transform:uppercase;
	text-align:center;
	margin-top:0px;
}
.paragraph {
    font-size:18px;
    line-height:1.5;
    color:#fff;
    font-weight:100;
    width:80%;
    margin:auto;
	text-align:center;
}
#particles-js{opacity:0;}
}